<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-apple-pay-suppression" version="1.0.0"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-plugin-apple-pay-suppression</name>
    <js-module name="applepaysuppression" src="www/ApplePaySuppression.js">
        <clobbers target="applepaysuppression" />
    </js-module>

    <platform name="ios">
    <framework src="PassKit.framework"/>
        <config-file target="config.xml" parent="/*">
            <feature name="ApplePaySuppression">
                <param name="ios-package" value="ApplePaySuppression"/>
            </feature>

        </config-file>
      <header-file src="src/ios/ApplePaySuppression.h" />
      <source-file src="src/ios/ApplePaySuppression.m" />

	<config-file target="*/Entitlements-Debug.plist" parent="com.apple.developer.passkit.pass-presentation-suppression">
				<true/>
		</config-file>
		<config-file target="*/Entitlements-Release.plist" parent="com.apple.developer.passkit.pass-presentation-suppression">
			<true/>
		</config-file>
    </platform>

</plugin>
